<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>method</key>
    <string>app-store-connect</string>

    <key>signingStyle</key>
    <string>manual</string>

    <key>teamID</key>
    <string>3KU2A8997L</string>

    <key>provisioningProfiles</key>
    <dict>
        <key>dk.carin.iostest</key>
        <string>Carin iOS Test App Store</string>
    </dict>

    <key>stripSwiftSymbols</key>
    <true/>

    <key>uploadSymbols</key>
    <true/>
</dict>
</plist>